<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.min.js"></script>
</head>

<body>
<div id="app" class="container">
    <h1 class="text-center">Roulette</h1>

    <div class="row">
        <div class="col-md-12">
            <form>
                <div class="form-group">
                    <label for="hash">Hash do jogo</label>
                    <input id="hash" type="text" class="form-control" v-model="hash"></input>
                </div>
                <div class="form-group">
                    <label for="numOfGames">Número de jogos (Jogos anteriores ao do hash informado)</label>
                    <input id="numOfGames" type="number" value="5000" class="form-control" v-model="numOfGames"></input>
                </div>
                <button type="button" class="btn btn-primary btn-block" @click="extractHistory()">Processar</button>
            </form>
        </div>
        <div class="col-md-12">
            <br>
            <table class="table" v-if="result">
                <tbody>
                <tr style="background-color: rgba(0,0,0,.075)">
                    <th scope="row" width="25%">
                        Ocorrência de verde nos turnos:
                    </th>
                    <td style="text-align: left;" width="75%">
                        <span v-for="(turn, index) in result.greens" :class="getClass(turn)"
                              style="font-weight: bold;">
                            {{index < result.greens.length -1 ? turn + ',' : turn}}
                        </span>
                    </td>
                </tr>
                <tr style="background-color: rgba(0,0,0,.075)">
                    <th scope="row" width="25%">
                        Total de verde(s):
                    </th>
                    <td style="text-align: left;" width="75%">
                        <span style="font-weight: bold;">
                            {{result.countGreen}}
                        </span>
                    </td>
                </tr>
                <tr style="background-color: rgba(0,0,0,.075)">
                    <th scope="row" width="25%">
                        Total de vermelho(s):
                    </th>
                    <td style="text-align: left;" width="75%">
                        <span style="font-weight: bold;">
                            {{result.countRed}}
                        </span>
                    </td>
                </tr>
                <tr style="background-color: rgba(0,0,0,.075)">
                    <th scope="row" width="25%">
                        Total de preto(s):
                    </th>
                    <td style="text-align: left;" width="75%">
                        <span style="font-weight: bold;">
                            {{result.countBlack}}
                        </span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript">
    let vm = new Vue({
        el: '#app',
        data: {
            hash: 'bc448abe1377a7defcde67da56e12cfd96569f4f725eee899772fcb89bc8f043',
            numOfGames: 100,
            result: null
        },
        methods: {
            getClass(size) {
                return {'text-danger': size > 40}
            },
            extractHistory() {
                const games = this.getGames(this.hash, parseInt(this.numOfGames))
                this.result = this.generateResults(games)
            },
            generateResults(games) {
                const result = {
                    countGreen: 0,
                    countRed: 0,
                    countBlack: 0,
                    greens: []
                }

                let lastGreen = 0
                games.forEach(function (value) {
                    let number = parseInt(value);
                    if (number == 0) {
                        result.greens.push(lastGreen)
                        lastGreen = 0
                        result.countGreen++
                    } else {
                        if (number > 0 && number < 8) {
                            result.countRed++
                        } else if (number => 8 && number <= 14) {
                            result.countBlack++
                        }
                        lastGreen++
                    }
                })
                return result
            },
            getGames(hash, numOfGames) {
                let lastHash = hash
                const results = []
                for (let i = 0; i < numOfGames; i++) {
                    results.push(this.getGameInformation(lastHash))
                    lastHash = this.getPreviousHash(lastHash)
                }
                return results
            },

            getGameInformation(hash) {
                const seed = this.saltHash(hash)
                const result = this.gameResultFromSeed(seed)
                return result
            },
            gameResultFromSeed(seed) {
                const num = parseInt(seed.substr(0, 52 / 4), 16)
                return num % 15
            },
            saltHash(hash) {
                const salt = '0000000000000000019ee980eb5c43e1e4e9d16bee8bb96d9ee691fa2c49c219'
                return CryptoJS.SHA256(JSON.stringify([hash, salt])).toString()
            },
            getPreviousHash(gameHash) {
                return CryptoJS.SHA256(gameHash).toString()
            }
        }
    })
</script>
</body>
</html>